/* 把我们所有标签的内外边距清零 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* em 和 i 斜体的文字不倾斜 */
em, i {
	font-style: normal
}
/* 去掉li 的小圆点 */
li {
	list-style: none;
}

li.monster {
	list-style: none;
	float: left;
	width: 228px;
	height: 180px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 20px;
	line-height: 180px;
	text-align: center;
}

img {
	/* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
	border: 0;
	/* 取消图片底侧有空白缝隙的问题 */
	vertical-align: middle;
	width: 1200px;
}

img.qrcode {
	border: 0;
	/* 取消图片底侧有空白缝隙的问题 */
	vertical-align: middle;
	width: 70px;
}

img.th {
	width: 171px;
}

img.monster {
	float: left;
	width: 285px;
	height: 180px
}

button {
	/* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
	cursor: pointer
}

a {
	color: #666;
	text-decoration: none;
	cursor: pointer;
	float: left;
    font-size: 15px;
}

a.monster {
	margin-left: 111px;
}

a:hover {
	color: #c81623
}

p {
	display: inline
}

div.info {
	float: right;
}

button, input {
	/* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
	font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
		"\5B8B\4F53", sans-serif;
	/* 默认有灰色边框我们需要手动去掉 */
	border: 0;
	outline: none;
}

input.find {
	width: 220px;
	height: 31px;
	margin-top: -52px;
	margin-left: 898px;
	outline-style: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 13px 14px;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

button.find {
	margin-top: -53px;
	margin-left: 1117px;
	line-height: 1.499;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 2px 0 rgb(0 0 0/ 2%);
	box-shadow: 0 2px 0 rgb(0 0 0/ 2%);
	cursor: pointer;
	-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	height: 32px;
	padding: 0 15px;
	font-size: 14px;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	border-color: #d9d9d9;
}

body {
	background-color: #fff;
	font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans
		GB, "\5B8B\4F53", sans-serif;
	color: #666
}

.hide, .none {
	display: none
}

h2 {
	font: 16px 'Microsoft YaHei', arial, tahoma, \5b8b\4f53, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 0;
}

tr {
	border-bottom: 1px solid #000000;
}

th {
	height: 39px;
	background-color: #f5f5f5;
	border: solid 1px #e8e8e8;
	font-size: 17px;
}

td {
	text-align: center;
	height: 112px;
}

td.first {
	cursor: pointer;
}
/* 快捷导航模块 */
.shortcut {
    height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}

.shortcut ul li {
	float: left;
}
/* 选择所有的偶数的小li */
.shortcut .fr ul li:nth-child(even) {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 15px 0;
}

/* 版心 */
.w {
	width: 1200px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* 列表页专有的css */
.nav {
	overflow: hidden;
}

.sk {
	position: absolute;
	left: 190px;
	top: 40px;
	border-left: 1px solid #c81523;
	padding: 3px 0 0 14px;
}

.sk_list {
	float: left;
}

.sk_list  ul li {
	float: left;
}

.sk_list  ul li a {
	display: block;
	line-height: 47px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.sk_con {
	float: left;
}

.sk_con ul li {
	float: left;
}

.sk_con  ul li a {
	display: block;
	line-height: 49px;
	padding: 0 20px;
	font-size: 14px;
}

.sk_con  ul li:last-child a::after {
	content: '\e91e';
	font-family: 'icomoon';
}

.sk_bd ul li {
	overflow: hidden;
	float: left;
	margin-right: 13px;
	width: 290px;
	height: 460px;
	border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
	margin-right: 0;
}

.sk_bd ul li:hover {
	border: 1px solid #c81523;
}

/* 底部模块制作 */
.footer {
	background-color: #f5f5f5;
	padding-top: 30px;
	clear: both;
}

.mod_help {
	height: 185px;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-left: 167px;
}

.mod_help dl {
	float: left;
	width: 200px;
}

.mod_help dl:last-child {
	width: 90px;
	text-align: center;
}

.mod_help dl dt {
	font-size: 26px;
	margin-bottom: 20px;
}

.mod_copyright {
	text-align: center;
	padding-top: 20px;
}

.copyright {
	line-height: 20px;
	padding-bottom: 50px;
}